<!doctype html>
<html>
  <head>
  <title>Budz + Riz Wedding | November 23, 2013</title>
  <meta name="budz, riz, wedding, november, twenty-three" content="Budz & Riz are getting married on November 23, 2013 at Seawallside Garden, Sofitel Philippine Plaza Manila.">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="stylesheets/style.css" rel="stylesheet" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
       <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="javascripts/respond.src.js"></script>
  <![endif]-->

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>

<html>

