<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="#home" id="icon-heart"><span>Home</span></a>
    </div>
      <div class="navbar-collapse collapse">
        <ul id="nav" class="nav navbar-nav">
          <li><a class="navbar-brand hidden-xs" href="#home" id="icon-heart"><span>Home</span></a></li>
          <li><a href="#wedding">Wedding</a></li>
          <li><a href="#our-story">Our Story</a></li>
          <li><a href="#entourage">Entourage</a></li>
          <li><a href="#attire">Attire</a></li>
          <li><a href="#gifts">Gifts</a></li>
          <li><a href="#rsvp">RSVP</a></li>
          <li><a href="#our-team">Our Team</a></li>
        </ul>
      </div><!--/.nav-collapse -->
  </div>
</div>

<section id='home' class='clearfix'>
  <div id="monogram">November Twenty-Three | Sofitel Philippine Plaza Manila</div>
  <div id="budz">Budz</div>
  <div id="riz">Rizza</div>
</section>
<div class="slant-grey"></div>

<section id='wedding' class='clearfix'>
  <div class="container">
    <h1 class="text-center">Wedding<img src="images/ampersand.png">Reception</h1>
      <div id="info" class="row">
      <img src="images/date.png" id="date" class="col-sm-6 col-md-5 img-responsive">
        <ul id="info-details" class="col-sm-6 col-md-7 list-unstyled lead">
          <li class="ring">November 23, 2013 &bull; 3:30 PM, Seawallside Garden</li>
          <li class="reception">Mindanao Ballroom</li>
          <li class="google">Sofitel Philippine Plaza Manila</li>
          <li class="star">CCP Complex, Roxas Boulevard, 1300 Pasay City</li>
        </ul>
      </div>

    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="line"></div>
    <p class="lead text-center">Taking pictures of our wedding? Share and hashtag!<strong> #budzriz112313</strong></p>
    <ul id="social-icons" class="list-unstyled list-inline text-center">
      <li><a id="twitter" href="http://www.twitter.com/keikun17" target="_blank" data-toggle="tooltip" title="@keikun17"><span>@keikun17</span></a></li>
      <li><a id="instagram" href="http://www.instagram.com/keikun17" target="_blank" data-toggle="tooltip" title="@keikun17"><span>@keikun17</span></a></li>
      <li><a id="twitter" href="http://www.twitter.com/RizBobadilla" target="_blank" data-toggle="tooltip" title="@RizBobadilla"><span>@RizBobadilla</span></a></li>
      <li><a id="instagram" href="http://www.instagram.com/reen0131" target="_blank" data-toggle="tooltip" title="@reen0131"><span>@reen0131</span></a></li>
    </ul>
    </div>
  </div>
</section>

<section id='our-story' class='clearfix'>
  <div id='quote'>
    <h1 class="text-center">Our Story</h1>
    <h3 class='col-sm-6 col-sm-offset-3 text-center'>"For everything there's a reason, time, & purpose. On this day, I will marry my best friend. The one I will laugh with, live for, love."</h3>
    <a href="#timeline" class="col-sm-6 col-sm-offset-3"><div id="btn-down"><span>Timeline</span></div></a>
  </div>
  <div id="timeline" class="container">
      <ul class="cbp_tmtimeline">
        <li>
          <time class="cbp_tmtime"><span>JULY 2002</span> <span></span></time>
          <div class="cbp_tmicon"><img src="images/icon-college.png"></div>
          <div class="cbp_tmlabel">
            <h4>Start of college</h4>
            <p>Buddy and Rizza were blockmates. She brought her anime drawings and showed it to Nadine, her seatmate, during Drawing Class. He saw her drawing. He approached her a day after and asked her if she owned the drawings. She said yes and asked his name. He didn't want to answer but she insisted then said "Ano nalang ang gusto mong itawag ko sayo?" He said "Buddy". It was a little while before she learned his real name. :)</p>
          </div>
        </li>
        <li>
          <time class="cbp_tmtime"><span>August 27, 2002</span> <span></span></time>
          <div class="cbp_tmicon"><img src="images/icon-stormy.png"></div>
          <div class="cbp_tmlabel">
            <h4>It was a stormy day</h4>
            <p>Buddy had an accident. Rizza and her friends rushed him to the school's clinic. They became best friends and were inseparable.<p>
          </div>
        </li>
        <li>
          <time class="cbp_tmtime"><span>January 2003</span> <span></span></time>
          <div class="cbp_tmicon"><img src="images/icon-tulip.png"></div>
          <div class="cbp_tmlabel">
            <h4>Can I court you?</h4>
            <p>Buddy asked Rizza if he can court her.</p>
          </div>
        </li>
        <li>
          <time class="cbp_tmtime"><span>July 14, 2004</span> <span></span></time>
          <div class="cbp_tmicon"><img src="images/icon-love.png"></div>
          <div class="cbp_tmlabel">
            <h4>Will you be my girlfriend?</h4>
            <p>Buddy and Rizza officially became a couple</p>
          </div>
        </li>
        <li>
          <time class="cbp_tmtime"><span>May 1, 2012</span> <span></span></time>
          <div class="cbp_tmicon"><img src="images/icon-diamond.png"></div>
          <div class="cbp_tmlabel">
            <h4>Will you marry me?</h4>
            <p>After 7 years and 10 months of being together, Buddy (with their closest friends) surprised Rizza. He got on one knee, gave her a ring and asked her "Will you marry me?" Of course, she said "yes".</p>
          </div>
        </li>
        <li>
          <time class="cbp_tmtime"><span>November 23, 2013</span> <span></span></time>
          <div class="cbp_tmicon icon-ring"><img src="images/icon-ring-2x.png"></div>
          <div class="cbp_tmlabel">
            <h4>Budz & Riz are getting married!</h4>
            <p>The day they say "I do".</p>
          </div>
        </li>
      </ul>
      <div class="text-center"><img src="images/drawing.jpg" class="img-responsive">
    </div>
  </div>
</section>

<section id='entourage' class='clearfix text-center'>
  <div class="container hidden-xs ">
  <h1 class="text-center">Entourage</h1>
      <ul class="list-unstyled list-inline text-center">
        <h3 class="text-center">The Parents</h3>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/budz-parents.jpg" />
              <div class="circle_in"></div>
              <div class="hover_info">
                  <h3>Budz's Parents</h3>
              </div>
          </div>
        </li>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/riz-parents.jpg" />
              <div class="circle_in_yellow"></div>
              <div class="hover_info">
                  <h3>Riz's Parents</h3>
              </div>
          </div>
        </li>
      </ul>

      <ul id="label" class="ist-unstyled list-inline">
        <li><h3>Best Man</h3></li>
        <li><h3>Maid of Honor</h3></li>
        <li><h3>Matron of Honor</h3></li>
      </ul>

      <ul class="col-md-10 col-md-offset-1 list-unstyled list-inline text-center">
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/bestman.jpg" />
              <div class="circle_in"></div>
              <div class="hover_info">
                  <h3>Nico</h3>
              </div>
          </div>
        </li>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/maid-of-honor.jpg" />
              <div class="circle_in_yellow"></div>
              <div class="hover_info">
                  <h3>Syril</h3>
              </div>
          </div>
        </li>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/maiden-of-honor.jpg" />
              <div class="circle_in_yellow"></div>
              <div class="hover_info">
                  <h3>Iona</h3>
              </div>
          </div>
        </li>
      </ul>

      <ul class="col-md-10 col-md-offset-1 list-unstyled list-inline text-center">
        <h3>Candle Sponsors</h3>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/candle_sponsor1.jpg" />
              <div class="circle_in"></div>
              <div class="hover_info">
                  <h3>Nick</h3>
              </div>
          </div>
        </li>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/candle_sponsor2.jpg" />
              <div class="circle_in_yellow"></div>
              <div class="hover_info">
                  <h3>Clarissa</h3>
              </div>
          </div>
        </li>
      </ul>


      <ul class="col-md-6 list-unstyled list-inline text-center">
      <h3>Cord Sponsors</h3>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/cord_sponsor1.jpg" />
              <div class="circle_in"></div>
              <div class="hover_info">
                  <h3>Eumir</h3>
              </div>
          </div>
        </li>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/cord_sponsor2.jpg" />
              <div class="circle_in_yellow"></div>
              <div class="hover_info">
                  <h3>Em</h3>
              </div>
          </div>
        </li>
      </ul>

      <ul class="col-md-6 list-unstyled list-inline text-center">
        <h3>Veil Sponsors</h3>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/veil_sponsor1.jpg" />
              <div class="circle_in"></div>
              <div class="hover_info">
                  <h3>Mark</h3>
              </div>
          </div>
        </li>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/veil_sponsor2.jpg" />
              <div class="circle_in_yellow"></div>
              <div class="hover_info">
                  <h3>Joy</h3>
              </div>
          </div>
        </li>
      </ul>

      <ul class="col-md-10 col-md-offset-1 list-unstyled list-inline text-center">
         <h3 class="text-center">Bridesmaids</h3>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/bridesmaid1.jpg" />
              <div class="circle_in_yellow"></div>
              <div class="hover_info">
                  <h3>Fatima</h3>
              </div>
          </div>
        </li>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/bridesmaid2.jpg" />
              <div class="circle_in_yellow"></div>
              <div class="hover_info">
                  <h3>Marj</h3>
              </div>
          </div>
        </li>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/bridesmaid3.jpg" />
              <div class="circle_in_yellow"></div>
              <div class="hover_info">
                  <h3>Cyndi</h3>
              </div>
          </div>
        </li>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/bridesmaid4.jpg" />
              <div class="circle_in_yellow"></div>
              <div class="hover_info">
                  <h3>RV</h3>
              </div>
          </div>
        </li>
      </ul>

      <ul class="col-md-10 col-md-offset-1 list-unstyled list-inline text-center">
        <h3 class="text-center">Groomsmen</h3>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/groomsmen1.jpg" />
              <div class="circle_in"></div>
              <div class="hover_info">
                  <h3>Neil</h3>
              </div>
          </div>
        </li>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/groomsmen2.jpg" />
              <div class="circle_in"></div>
              <div class="hover_info">
                  <h3>David</h3>
              </div>
          </div>
        </li>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/groomsmen3.jpg" />
              <div class="circle_in"></div>
              <div class="hover_info">
                  <h3>Richard</h3>
              </div>
          </div>
        </li>
        <li class="block_holder">
          <div class="hover_block block_9">
              <img class="img-circle" src="images/groomsmen4.jpg" />
              <div class="circle_in"></div>
              <div class="hover_info">
                  <h3>Wesley</h3>
              </div>
          </div>
        </li>
      </ul>
      <div class="col-sm-4 col-md-4 text-center">

       <h3>Officiating Pastors</h3>
       <div class="line"></div>
       <ul class="list-unstyled ">
        <li>Pastor Emmanuel Manansala</li>
        <li>Pastor Enrique Manansala</li>
      </ul>

       <ul class="list-unstyled ">
        <h3>Ring Bearer</h3>
        <div class="line"></div>
        <li>Yeshua Manansala</li>
      </ul>
      <ul class="list-unstyled">
        <h3>Coin Bearer</h3>
        <div class="line"></div>
        <li>Nick Joshua Kapalungan</li>
      </ul>
      </div>

      <div class="col-sm-4 col-md-4 text-center">
      <ul class="list-unstyled">
        <h3>Bible Bearer</h3>
        <div class="line"></div>
        <li>Yeshua Jakobe Isidro</li>
      </ul>
      <ul class="list-unstyled">
        <h3>Flower Girls</h3>
        <div class="line"></div>
        <li>Ariane Danielle Pestano</li>
        <li>Keisha Manansala</li>
        <li>Catherine Anne Pornea</li>
      </ul>
      </div>

      <ul class="list-unstyled col-sm-4 col-md-4 text-center">
        <h3>Principal Sponsors</h3>
        <div class="line"></div>
          <li>Atty. Aris Pestano</li>
          <li>Dianne Pestano</li>
          <li>Atty. Adorlito Ginete</li>
          <li>Nora Ginete</li>
          <li>Gener Salvador</li>
          <li>Mirasol Salvador</li>
          <li>Antonio Pornea</li>
          <li>Ruth Bathan-Llovido</li>
          <li>Pastor Enrique Manansala</li>
          <li>Marisa Anulao</li>
          <li>Leandro Isidro</li>
          <li>Lourdes Isidro</li>
      </ul>
  </div>

  <div class="container visible-xs hidden-sm hidden-md hidden-lg text-center">
  <h1 class="text-center">Entourage</h1>
    <h3>Budz's Parents</h3>
      <ul class="list-unstyled">
        <li>Engr. Florante Magsipoc</li>
        <li>Resurreccion Magsipoc</li>
      </ul>
    <h3>Riz's Parents</h3>
      <ul class="list-unstyled">
        <li>Rexmelito Bobadilla</li>
        <li>Ma. Elena Bobadilla</li>
      </ul>
    <h3>Best Man</h3>
      <ul class="list-unstyled">
        <li>Nico Suria</li>
      </ul>
    <h3>Maid of Honor</h3>
      <ul class="list-unstyled">
        <li>Syril Bobadilla</li>
      </ul>
    <h3>Matron of Honor</h3>
      <ul class="list-unstyled">
        <li>Iona Mae Mercadejas</li>
      </ul>
    <h3>Candle Sponsor</h3>
      <ul class="list-unstyled">
        <li>Nick "Dendi" Salvador</li>
        <li>Clarissa Magsipoc</li>
      </ul>
    <h3>Veil Sponsor</h3>
      <ul class="list-unstyled">
        <li>Mark Conde</li>
        <li>Kristin Joy Bobadilla</li>
      </ul>
    <h3>Cord Sponsor</h3>
      <ul class="list-unstyled">
        <li>Eumir Gaspar</li>
        <li>Em Vizmonte</li>
      </ul>
    <h3>Bridesmaids</h3>
      <ul class="list-unstyled ">
        <li>Fatima Bobadilla</li>
        <li>Marjorie Red</li>
        <li>Cyndi Balucating</li>
        <li>RV Lim</li>
      </ul>
    <h3>Groomsmen</h3>
      <ul class="list-unstyled">
        <li>David Magsipoc</li>
        <li>Neil Magsipoc</li>
        <li>Wesley Lim</li>
        <li>Richard Allan Dy</li>
      </ul>
    <h3>Ring Bearer</h3>
      <ul class="list-unstyled">
        <li>Yeshua Manansala</li>
      </ul>
    <h3>Coin Bearer</h3>
      <ul class="list-unstyled">
        <li>Nick Joshua Kapalungan</li>
      </ul>
    <h3>Bible Bearer</h3>
      <ul class="list-unstyled">
        <li>Yeshua Jakobe Isidro</li>
      </ul>
    <h3>Flower Girls</h3>
      <ul class="list-unstyled">
        <li>Ariane Danielle Pestano</li>
        <li>Keisha Manansala</li>
        <li>Catherine Anne Pornea</li>
      </ul>
    <h3>Principal Sponsors</h3>
      <ul class="list-unstyled">
        <li>Atty. Aris Pestano</li>
        <li>Dianne Pestano</li>
        <li>Atty. Adorlito Ginete</li>
        <li>Nora Ginete</li>
        <li>Gener Salvador</li>
        <li>Mirasol Salvador</li>
        <li>Antonio Pornea</li>
        <li>Ruth Bathan-Llovido</li>
        <li>Pastor Enrique Manansala</li>
        <li>Marisa Anulao</li>
        <li>Leandro Isidro</li>
        <li>Lourdes Isidro</li>
      </ul>
  </div>
</section>

<section id='attire' class='clearfix text-center'>
  <div class="container">
  <h1>Attire</h1>
  <div id="formal" class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <h3>Formal</h3>
    <div class="line"></div>
    <p class="lead">It is time to dress up and look your best. Here are some guidelines on what you can wear. Please don't worry, looks are only secondary. We are all for comfort and fun!</p>
  </div>
      <div id="ladies" class='col-sm-4 col-lg-4'>
        <div class="border">
          <img class="img-circle" src="images/attire_ladies.jpg" />
        </div>
        <h4>Ladies</h4>
        <p>The entourage will be wearing navy, dark teal, gray and gold long gowns. Ninangs in color beige, or cream. Guests can wear long or cocktail, plain or printed or ruffled gowns or dresses. You can wear any color you like best but please no whites and blacks.</p>
      </div>

      <div id="gentlemen" class='col-sm-4 col-lg-4'>
      <div class="border">
        <img src="images/attire_gentlemen.jpg" class="img-circle">
      </div>
        <h4>Gentlemen</h4>
        <p>Groomsmen will be wearing black suit (coat and colored tie). Guests can wear suit or long sleeves of any color they think is fit. Neckwear is not necessary though we'd love to see your cute bow or tie.</p>
      </div>

      <div id="shoes" class='col-sm-4 col-lg-4'>
      <div class="border">
        <img src="images/attire_shoes.jpg" class="img-circle">
      </div>
        <h4>Shoes</h4>
        <p>Ceremony will be held on grass, so <strong>NO HEELS</strong> please! Unless you want to get stuck. Wedge is a great alternative if you do not want to lose the height. Flats are recommended but leave your slippers.</p>
      </div>
  </div>
</section>

<section id='gifts' class='clearfix'>
  <div class="container">
  <h1 class="text-center">Gifts</h1>
    <div class="line"></div>
    <p class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 lead text-center">The very best present we can receive is your presence at our wedding and your love and support as we embark on this adventure together.</p>

    <div class="col-sm-5">
      <a id='rustans' href="http://www.rustans.com.ph/" target="_blank" title="Rustan's"><span>Rustan's</span></a>
      <a id="smdept" href="http://www.smdeptstore.com/" target="_blank" title="Sm Department Store"><span>Sm Department Store</span></a>
    </div>

    <div class='col-sm-7'>
      <h4><img class="icon" src="images/icon-gift.png">Registry</h4>
      <p>However, if you're feeling particularly generous and traditional we're registered at <a href="http://www.rustans.com.ph/" target="_blank" title="Rustan's"><strong>Rustan's</strong></a> and <a href="http://www.smdeptstore.com/" target="_blank" title="Sm Department Store"><strong>SM Department Store</strong></a>. Just mention the GR Code <strong>"21958"</strong> or our names to get the list of items we still need and avail discount.</p>

      <h4><img class="icon" src="images/icon-money.png">Start-Up Fund</h4>
      <p>If you'd prefer to give us some cash, we'd greatly appreciate a little help to save up for our fund.</p>
      <h3>Big hug and thanks! :)</h3>
    </div>
  </div>
</section>

<section id='rsvp' class="text-center clearfix">
  <div class="container">
    <h1>RSVP</h1>
    <p>Kindly send your confirmation by <strong>November 4, 2013</strong> to <i>Rizza</i> or <i>Ms. Bleu.</i></br> We definitely want to see you there!</p>
  </div>
</section>

<section id="google-map">
  <div id="map" class="hidden-xs"></div>
  <a href="https://maps.google.com.ph/maps?ie=UTF-8&q=sofitel+manila&fb=1&gl=ph&hq=sofitel&hnear=0x3397ca03571ec38b:0x69d1d5751069c11f,Manila&cid=0,0,5512130189234795850&ei=23v8UdKWBIuLkgW3kYHIAg&ved=0CK8BEPwSMAs" id="map-2" class="visible-xs"></a>
</section>

<section id="our-team" class="text-center clearfix">
<div id="slant-yellow"></div>
  <div id="container">
  <h1>Our Team</h1>
  <ul id="suppliers" class="list-unstyled list-inline">
    <li><img data-toggle="tooltip" alt="Sofitel Philippine Plaza Manila" title="Sofitel Philippine Plaza Manila" src="images/logo-sofitel.jpg"></li>
    <li><img data-toggle="tooltip" alt="J Lucas Reyes" title="J Lucas Reyes" src="images/logo-jlucas.jpg"></li>
    <li><img data-toggle="tooltip" alt="Goldenhills Jewelry" title="Goldenhills Jewelry" src="images/logo-goldenhills.jpg"></li>
    <li><img data-toggle="tooltip" alt="Joy San Gabriel" title="Joy San Gabriel" src="images/logo-joy-san-gabriel.jpg"></li>
    <li><img data-toggle="tooltip" alt="Amante Fleurs" title="Amante Fleurs" src="images/logo-amante-fleurs.jpg"></li>
    <li><img data-toggle="tooltip" alt="Rejectkrew" title="Rejectkrew" src="images/logo-reject-krew.jpg"></li>
    <li><img data-toggle="tooltip" alt="FADS by Michael Ruiz" title="FADS by Michael Ruiz" src="images/logo-FADS.jpg"></li>
    <li><img data-toggle="tooltip" alt="Weddings At Work" title="Weddings At Work" src="images/logo-weddings-at-work.jpg"></li>
    <li><img data-toggle="tooltip" alt="Bleu Weddings & Events Management" title="Bleu Weddings & Events Management" src="images/logo-bleu.jpg"></li>
    <li><img data-toggle="tooltip" alt="Kristel Yulo" title="Kristel Yulo" src="images/logo-kristel-yulo.jpg"></li>
    <li><img data-toggle="tooltip" data-toggle="tooltip" alt="Styling by Aira Franco" title="Styling by Aira Franco" src="images/logo-aira-franco.jpg"></li>
    <li><img data-toggle="tooltip" alt="John Austin" title="John Austin" src="images/logo-john-austin.jpg"></li>
    <li><img data-toggle="tooltip" alt="Merger" title="Merger" src="images/logo-merger.jpg"></li>
    <li><img data-toggle="tooltip" alt="Marvin Barbarona Videography" title="Marvin Barbarona Videography" src="images/logo-marvin-barbarona.jpg"></li>
    <li><img data-toggle="tooltip" alt="Hair and Make-up by Eddie Bruan" title="Hair and Make-up by Eddie Bruan" src="images/logo-eddie-bruan.jpg"></li>
  </ul>
    <p>Budz & Riz photos by: <i>J Lucas Reyes.</i> Website by <a href="http://www.syrilbobadilla.com"><i>Syril Bobadilla.</i></a></p>
  </div>
</section>

<footer>
  <div class="container text-center">
    <div class="slant-grey"></div>
    <ul id="sitemap" class="hidden-xs list-unstyled list-inline">
      <li><a href="#home">Budz &hearts; Riz</a></li>
      <li><a href="#wedding">Wedding</a></li>
      <li><a href="#our-story">Our Story</a></li>
      <li><a href="#entourage">Entourage</a></li>
      <li><a href="#attire">Attire</a></li>
      <li><a href="#gifts">Gifts</a></li>
      <li><a href="#rsvp">RSVP</a></li>
      <li><a href="#our-team">Our Team</a></li>
    </ul>
  <p>&copy; Copyright November Twenty Three 2013</p>
  </div>
</footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.scrollTo.js"></script>
<script src="javascripts/jquery.nav.js"></script>
<script src="javascripts/scripts.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
